@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a202c; /* Primary background color */
  color: #ffffff; /* Text color */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #4299e1; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3182ce; /* Color when hovering over the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4299e1 #2d3748;
}

